@import url('https://fonts.googleapis.com/css?family=Lora:regular,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:regular,700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
body {
	font-family: 'Lato', sans-serif;
}

/*.header {*/
/*	padding: 60px 0;*/
/*}*/
/*.header__container,*/
/*.main__container {*/
/*	max-width: 1110px;*/
/*	margin: 0 auto;*/
/*}*/

/*.header__logo {*/
/*	display: inline-block;*/
/*}*/
/*.link__logo {*/
/*	width: 89px;*/
/*	font-family: 'Lora', serif;*/
/*	font-weight: bold;*/
/*    font-size: 24px;*/
/*	color: #10375C;*/
/*}*/

/*.nav__link {*/
/*	font-weight: bold;*/
/*    font-size: 16px;*/
/*	color: #222831;*/
/*}*/
/*.header__nav,*/
/*.header__list,*/
/*.header__logs {*/
/*	display: inline-block;*/
/*}*/
/*.header__nav {*/
/*	margin-left: 181px;*/
/*}*/
/*.header__logs {*/
/*	margin-left: 30px;*/
/*}*/
/*.header__list {*/
/*	font-size: 0;*/
/*}*/
/*.header__list li {*/
/*	display: inline-block;*/
/*	margin-right: 40px;*/
/*}*/

/*.link__item {*/
/*	font-weight: bold;*/
/*    font-size: 16px;*/
/*    color: #ff5722;*/
/*    padding: 12px 24px;*/
/*}*/
/*.link__item:hover {*/
/*	background: #ff5722;*/
/*	color: #fff;*/
/*	box-shadow: 0 4px 16px rgba(255, 87, 34, 0.32)*/
/*}*/

/*.intro__label {*/
/*	margin-bottom: 26px;*/
/*    font-size: 20px;*/
/*    color: #222831;*/
/*}*/
/*.intro__label::after {*/
/*    content: '';*/
/*    display: inline-block;*/
/*    width: 73px;*/
/*    height: 2px;*/
/*    background-color: #222831;*/
/*    vertical-align: middle;*/
/*    margin-left: 15px;*/
/*}*/
/*.intro__title {*/
/*	width: 667px;*/
/*	display: inline-block;*/
/*	font-family: 'Lora', serif;*/
/*	font-weight: 700;*/
/*	font-size: 52px;*/
/*	color: #10375C;*/
/*}*/

/*.intro__title span {*/
/*	color: #DD2C00;*/
/*}*/
/*.intro__text {*/
/*	display: inline-block;*/
/*	width: 382px;*/
/*	height: 120px;*/
/*	font-size: 20px;*/
/*	line-height: 30px;*/
/*	margin: 10px 0 0 57px;*/
/*    vertical-align: top;*/
/*	color: #6A6A6A;*/
/*}*/

/*.main__intro {*/
/*    margin-bottom: 50px;*/
/*}*/


/*.sign__text {*/
/*	display: inline-block;*/
/*	width: 382px;*/
/*	height: 120px;*/
/*	font-size: 20px;*/
/*	line-height: 30px;*/
/*	overflow: auto;*/
/*}*/
/*.main__sign__input {*/
/*	margin-bottom: 20px;*/
/*}*/
/*.main__sign img {*/
/*	width: 960px;*/
/*	height: 626px;*/
/*	margin-left: 315px;*/
/*}*/

/*.main__sign__input {*/
/*	text-transform: uppercase;*/
/*	text-shadow: 2px 2px 20px #CA0000, 5px 7px 6px #CA0000, 1px 5px 5px #CA0000;*/
/*	color: #0CCE6B;*/
/*	display: inline-block;*/
/*	max-height: 30px;*/
/*	overflow: hidden;*/
/*}*/
/*.main__sign {*/
/*	margin-bottom: 112px;*/
/*}*/
/*.logos__title h2 {*/
/*	font-size: 40px;*/
/*	line-height: 51px;*/
/*	text-align: center;*/
/*	margin-bottom: 24px;*/
/*}*/
/*.logos__title p {*/
/*	font-size: 18px;*/
/*	line-height: 28px;*/
/*	text-align: center;*/
/*	margin-bottom: 56px;*/
/*}*/
/*.logos__names {*/
/*	width: 1175.53px;*/
/*}*/






/*.header__logo {*/
/*	font-style: normal;*/
/*	font-weight: bold;*/
/*	font-size: 24px;*/
/*	line-height: 32px;*/
/*	color: #10375c;*/
/*	letter-spacing: 16px;*/
/*	text-transform: uppercase;*/
/*	text-decoration: underline;*/
/*}*/

/*.header__nav,*/
/*.logos__names,*/
/*.footer__nav,*/
/*.links__spaces,*/
/*.links__company,*/
/*.links__support{*/
/*	text-align: center;*/
/*}*/

/*.nav__list__link,*/
/*.logos__names a {*/
/*	font-family: "Kobzar KS", sans-serif;*/
/*	font-size: 30px;*/
/*}*/
/*.logos__names {*/
/*	text-transform: uppercase;*/
/*}*/
/*.registration,*/
/*.links__contact {*/
/*	color: #FF5722;*/
/*	text-align: right;*/
/*	font-weight: bold;*/
/*}*/


/*.main__sign__intro {*/
/*	font-size: 20px;*/
/*	line-height: 30px;*/
/*}*/
