@import url("https://fonts.googleapis.com/css?family=Lato:regular,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Lora:regular,700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: Lato;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: Lato;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 14px;
}

img {
  max-width: 100%;
}

.header {
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 124px;
  padding: 0px 0px 20px 0px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24.59459%;
          flex: 0 1 24.59459%;
  padding: 0px 20px 0px 0px;
  position: relative;
  z-index: 5;
}

.header__logo img {
  max-width: 89px;
}

.header__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0px 20px 3px 0px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__list li {
  margin-right: 40px;
}

.header__list li:last-child {
  margin-right: 0;
}

.header__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.list-header__link {
  font-weight: bold;
  font-size: 16px;
  color: #222831;
  display: inline-block;
  line-height: 175%;
}

.list-header__link:hover {
  text-decoration: underline;
}

.sign-header__link {
  background-color: #ff5722;
  -webkit-box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
          box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
  height: 43px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 25px;
  color: #fff;
  font-weight: 700;
  position: relative;
  z-index: 5;
}

.sign-header__link:hover {
  color: #ff5722;
  background-color: #fff;
}

.sign-header__link_white {
  color: #ff5722;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sign-header__link_white:hover {
  -webkit-box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
          box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
}

.icon-menu {
  display: none;
}

._ibg {
  padding: 0 0 53.9% 0;
  position: relative;
}

._ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.title {
  font-family: Lora;
  font-size: 40px;
  color: #10375c;
  font-weight: 700;
  line-height: 127.5%;
}

.title_white {
  color: #fff;
}

.line-title {
  font-size: 20px;
  color: #10375c;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line-title::after {
  content: '';
  height: 2px;
  width: 73px;
  margin: 0px 0px 0px 15px;
  background-color: #10375c;
}

.line-title_white {
  color: #fff;
}

.line-title_white::after {
  background-color: #fff;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 363px;
  height: 53px;
  background-color: #ff5722;
  font-weight: 700;
  font-size: 18px;
  line-height: 155.55556%;
  color: #fff;
  text-transform: uppercase;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._container {
  max-width: 1100px;
  margin: 0 auto;
}

.intro-main {
  margin-bottom: 112px;
}

.intro-main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro-main__title {
  font-family: Lora;
  font-size: 52px;
  font-weight: 700;
  color: #10375c;
  line-height: 128.84615%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 58.73874%;
          flex: 1 1 58.73874%;
}

.intro-main__title span {
  color: #dd2c00;
}

.intro-main__text {
  height: 120px;
  font-size: 20px;
  line-height: 150%;
  margin-left: 49px;
  vertical-align: top;
  color: #6a6a6a;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 34.41441%;
          flex: 0 1 34.41441%;
  margin-top: 10px;
}

.intro-main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-main-intro__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40.09009%;
          flex: 0 1 40.09009%;
  height: 100%;
  z-index: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.content-main-intro__image {
  position: relative;
  right: 127px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 86.48649%;
          flex: 0 0 86.48649%;
  z-index: 1;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.select-main-intro__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 49px 40px 31px 40px;
  background: #10375c;
}

.select-main-intro__title {
  font-family: Lora;
  font-size: 34px;
  font-weight: 700;
  color: #ffffff;
  line-height: 129.41176%;
  margin-bottom: 29px;
}

.form-select-intro__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 363px;
  background-color: #0d2c4a;
  margin-bottom: 17px;
  position: relative;
}

.form-select-intro__line:last-of-type {
  margin-bottom: 22px;
}

.form-select-intro__line label {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  opacity: 0.35;
  position: absolute;
  left: 16px;
  top: 8px;
}

.form-select-intro__select {
  height: 68px;
  width: 348px;
  padding: 35px 16px 8px 12px;
  background-color: #0d2c4a;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}

.form-select-intro__input {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  height: 68px;
  width: 363px;
  padding: 35px 12px 8px;
  background-color: #0d2c4a;
}

.form-select-intro__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 363px;
  height: 53px;
  background-color: #ff5722;
  font-weight: 700;
  font-size: 18px;
  line-height: 155.55556%;
  color: #fff;
  text-transform: uppercase;
}

.main__frispes {
  margin-bottom: 60px;
}

.frispes-main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.frispes-main__stat {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 51.35135%;
          flex: 0 1 51.35135%;
  margin: 0px 0px -65px 0px;
}

.frispes-main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48.64865%;
          flex: 0 1 48.64865%;
  padding: 53px;
  background: #10375c;
}

.frispes-main__content *:last-child {
  margin-bottom: 0;
}

.stat-main-frispes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 35px 35px 35px 0px;
}

.stat-main-frispes__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 65px 0px;
}

.stat-main-frispes__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  text-align: center;
}

.stat-main-frispes__block {
  padding: 0px 0px 0px 16px;
}

.stat-main-frispes__value {
  font-family: Lora;
  color: #10375c;
  font-size: 32px;
  line-height: 128.125%;
}

.stat-main-frispes__text {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  color: #9a9a9a;
  line-height: 162.5%;
}

.frispes-main__label {
  margin: 0 0 8px 0;
}

.frispes-main__title {
  font-family: Lora;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  line-height: 127.5%;
  margin-bottom: 30px;
}

.frispes-main__text {
  font-size: 20px;
  line-height: 150%;
  color: #fff;
}

.spaces-main {
  margin-bottom: 60px;
}

.spaces-main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 42px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.spaces-main__title {
  font-family: Lora;
  font-size: 40px;
  font-weight: bold;
  color: #10375c;
  line-height: 127.5%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 34.23423%;
          flex: 0 1 34.23423%;
}

.spaces-main__text {
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  color: #9a9a9a;
  line-height: 155.55556%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.spaces-main__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15.13514%;
          flex: 0 1 15.13514%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-flex: 0 0 15.13514%;
      flex: 0 0 15.13514%;
}

.spaces-main__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.spaces-main__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.spaces-main__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 15px;
}

.spaces-main__item {
  height: 100%;
}

.item-main-spaces__image {
  position: relative;
  margin: 0px 0px 25px 0px;
}

.item-main-spaces__image::after {
  content: '';
  width: 72px;
  height: 72px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ff5722 url("../img/XMLID_1506.svg") center no-repeat;
}

.item-main-spaces__text {
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  color: #222831;
  line-height: 120%;
}

.check-our-spaces {
  background: #10375c;
  color: #fff;
  position: relative;
  padding: 100px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 10px 20px 0 rgba(16, 55, 92, 0.3);
          box-shadow: 0 10px 20px 0 rgba(16, 55, 92, 0.3);
}

.check-our-spaces::before {
  content: '';
  width: 90px;
  height: 90px;
  position: absolute;
  top: 15px;
  right: 15px;
  background: url("../img/Mask_Group.svg") 0 0 no-repeat;
}

.check-our-spaces__title {
  font-family: Lora;
  font-size: 32px;
  line-height: 128.125%;
  margin: 0px 0px 14px 0px;
}

.check-our-spaces__text {
  font-size: 18px;
  line-height: 155.55556%;
}

.check-our-spaces__link {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 72px;
  background: #ff5722;
  padding: 0 31px 0 54px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 122.22222%;
}

.check-our-spaces__link span {
  background: url("../img/XMLID_1506.svg") right no-repeat;
  display: inline-block;
  padding: 0px 42px 0px 0px;
}

.main__users {
  margin-bottom: 80px;
}

.users-main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.users-main__title {
  font-family: Lora;
  font-weight: bold;
  font-size: 40px;
  line-height: 127.5%;
  color: #0d2c4a;
  margin-bottom: 31px;
}

.users-main__text {
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  color: #9a9a9a;
  line-height: 155.55556%;
  text-align: center;
  margin-bottom: 71px;
}

.users-main__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1176px;
  margin: 0 auto;
}

.users-main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 15px;
}

.main__find {
  margin-bottom: 70px;
}

.find-main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.find-main__title {
  font-family: Lora;
  font-size: 40px;
  font-weight: 700;
  color: #10375c;
  line-height: 127.5%;
  text-align: center;
  max-width: 578px;
  min-height: 102px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 51px;
}

.find-main__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px 0 72px -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.find-main__columns {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 15px;
}

.find-main__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 171px;
  -webkit-box-shadow: 0 12px 16px rgba(128, 128, 128, 0.22);
          box-shadow: 0 12px 16px rgba(128, 128, 128, 0.22);
  position: relative;
}

.find-main__item:hover {
  cursor: pointer;
  background-color: #ff5722;
}

.find-main__item:hover .find-main__text {
  color: #ffffff;
}

.find-main__item:hover .find-main__link {
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 16px rgba(255, 87, 34, 0.32);
          box-shadow: 0 4px 16px rgba(255, 87, 34, 0.32);
}

.find-main__item:hover .find-main__link::after {
  background: #fff url(../img/shevron_orange.svg) center no-repeat;
}

.find-main__text {
  font-family: Lora;
  font-size: 26px;
  font-weight: normal;
  color: #000000;
  line-height: 126.92308%;
  text-align: center;
  max-width: 270px;
  min-height: 66px;
}

.find-main__link {
  position: absolute;
  background-color: #ff5722;
  padding: 21px 23px 5px 25px;
  bottom: -24px;
  font-family: Lato;
  font-weight: bold;
  font-size: 18px;
  line-height: 122.22222%;
  color: #ffffff;
}

.find-main__link:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 16px rgba(255, 87, 34, 0.32);
          box-shadow: 0 4px 16px rgba(255, 87, 34, 0.32);
}

.find-main__link:hover::after {
  background: url(../img/shevron_orange.svg) center no-repeat;
}

.find-main__link::after {
  content: '';
  background: url(../img/shevron_down.svg) center no-repeat;
  display: inline-block;
  width: 16px;
  height: 9px;
  vertical-align: top;
}

.find-main__more-link {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  color: #ff5722;
  line-height: 162.5%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.find-main__more-link::after {
  content: '';
  background: url(../img/shevron_orange_right.svg) center no-repeat;
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-left: 20px;
  position: relative;
  top: 3px;
}

.main__news {
  background-color: #f8f8f8;
}

.news-main__container {
  padding: 60px 0;
}

.news-main__body {
  padding: 0px 15px;
}

.news-main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 56px;
}

.news-main__title {
  font-family: Lora;
  font-weight: bold;
  font-size: 40px;
  line-height: 127.5%;
  color: #10375c;
}

.news-main__more-link {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  color: #ff5722;
  line-height: 162.5%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8px;
}

.news-main__more-link::after {
  content: '';
  background: url(../img/shevron_orange_right.svg) center no-repeat;
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-left: 20px;
  position: relative;
  top: 3px;
}

.news-main__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px 30px -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news-main__columns {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news-main__columns_big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
  padding: 0 15px;
}

.news-main__grow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 65.76577%;
          flex: 1 1 65.76577%;
}

.news-main__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 52%;
          flex: 0 1 52%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px;
  background-color: #ffffff;
}

.news-main__item:hover,
.news-main__grow:hover,
.news-main__item-grow:hover {
  -webkit-box-shadow: 0 12px 16px rgba(128, 128, 128, 0.22);
          box-shadow: 0 12px 16px rgba(128, 128, 128, 0.22);
  cursor: pointer;
}

.news-main__link-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 350px;
  padding: 14px 16px 12px 14px;
  background-color: #ffffff;
}

.news-main__link {
  font-family: Lora;
  font-size: 22px;
  font-weight: normal;
  color: #222831;
  line-height: 127.27273%;
  margin-bottom: 11px;
}

.news-main__name {
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  color: #9a9a9a;
  line-height: 162.5%;
}

.news-main__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.right-news__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26.93694%;
          flex: 0 1 26.93694%;
  min-height: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right-news__title {
  font-family: Lora;
  font-size: 32px;
  font-weight: bold;
  color: #222831;
  line-height: 128.125%;
}

.right-news__text {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  color: #9a9a9a;
  line-height: 162.5%;
}

.right-news__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 23px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right-news__name-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right-news__name {
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  color: #10375c;
  line-height: 155.55556%;
}

.right-news__proff {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  color: #9a9a9a;
  line-height: 162.5%;
}

.main__ready {
  background: #10375c;
}

.ready-main {
  margin-bottom: 60px;
}

.ready-main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ready-main__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

._no-webp .ready-main__column_back{
  background: url(../img/grid.png) center 100px no-repeat; }

.ready-main__content {
  max-width: 81%;
}

.ready-main__label {
  margin-bottom: 8px;
}

.ready-main__title {
  margin-bottom: 16px;
}

.ready-main__text {
  font-size: 20px;
  line-height: 150%;
  color: #dfdfdf;
  margin-bottom: 40px;
}

.ready-main__button {
  width: 350px;
}

.ready-main__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1130px) {
  .header__list li {
    margin: 0px 28px 0px 0px;
  }

  ._container {
    max-width: 950px;
  }

  .intro-main__title {
    font-size: 45px;
  }

  .spaces-main__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 29.23423%;
            flex: 1 1 29.23423%;
  }

  .spaces-main__arrows {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 14.13514%;
            flex: 1 1 14.13514%;
  }
}

@media (max-width: 992px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10.59459%;
            flex: 0 0 10.59459%;
  }

  .header__list li {
    margin: 0px 14px 0px 0px;
  }

  ._container {
    max-width: 750px;
  }

  .intro-main {
    margin-bottom: 0;
  }

  .intro-main__body {
    margin-bottom: 70px;
  }

  .intro-main__title {
    font-size: 35px;
  }

  .intro-main__text {
    margin-top: 0;
  }

  .form-select-intro__input {
    width: 348px;
  }

  .main__frispes {
    margin-bottom: 20px;
  }

  .frispes-main__container {
    display: block;
  }

  .spaces-main__header {
    margin-bottom: 22px;
  }

  .spaces-main__text {
    margin-bottom: 10px;
  }

  .spaces-main__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 10.13514%;
            flex: 0 1 10.13514%;
  }

  .check-our-spaces {
    padding: 130px 30px;
  }

  .main__users {
    margin-bottom: 0;
  }

  .users-main__text {
    margin-bottom: 25px;
  }

  .users-main__link {
    margin: 0 40px 40px 0;
  }

  .news-main__title {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .header {
    min-height: 55px;
    padding: 0 0 5px 0;
  }

  .header__menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: lightgray;
    text-align: center;
    overflow: auto;
    padding: 80px 10px 20px 10px;
  }

  .header__menu::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 55px;
    z-index: 2;
    width: 100%;
    background-color: #eee;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0px 0px 20px 0px;
  }

  .list-header__link {
    font-size: 25px;
  }

  .sign-header__link {
    padding: 0px 10px;
  }

  .icon-menu {
    display: block;
    position: relative;
    z-index: 5;
    height: 18px;
    width: 30px;
  }

  .icon-menu span {
    position: absolute;
    background-color: #000;
    height: 10%;
    width: 100%;
    top: 50%;
    margin: -5% 0px 0px 8px;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .line-title {
    font-size: 17px;
    margin: 10px 0;
  }

  ._container {
    max-width: none;
    padding: 0px 15px;
  }

  .intro-main__body {
    display: block;
    margin-bottom: 0;
  }

  .intro-main__title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .intro-main__text {
    margin-left: 0;
    font-size: 18px;
  }

  .intro-main__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .content-main-intro__select {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40.09009%;
            flex: 1 1 40.09009%;
    margin-bottom: 10px;
  }

  .content-main-intro__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 86.48649%;
            flex: 1 0 86.48649%;
    right: 0;
  }

  .select-main-intro__title {
    text-align: center;
  }

  .form-select-intro__line {
    width: 100%;
  }

  .form-select-intro__select {
    width: 95%;
  }

  .form-select-intro__input {
    width: 95%;
  }

  .form-select-intro__button {
    width: 100%;
  }

  .frispes-main__content {
    padding: 15px;
  }

  .stat-main-frispes {
    padding: 35px 0;
  }

  .stat-main-frispes__block {
    padding: 0;
  }

  .stat-main-frispes__value {
    font-size: 21px;
  }

  .stat-main-frispes__text {
    font-size: 14px;
  }

  .frispes-main__title {
    font-size: 28px;
  }

  .frispes-main__text {
    font-size: 18px;
  }

  .spaces-main__header {
    display: block;
  }

  .spaces-main__title {
    font-size: 35px;
    margin-bottom: 10px;
  }

  .spaces-main__text {
    font-size: 18px;
  }

  .spaces-main__arrows {
    display: block;
  }

  .spaces-main__left {
    margin-right: 20px;
  }

  .spaces-main__items {
    display: block;
  }

  .spaces-main__item {
    margin-bottom: 20px;
  }

  .check-our-spaces {
    margin-bottom: 40px;
  }

  .users-main__title {
    font-size: 35px;
    text-align: center;
  }

  .users-main__text {
    margin-bottom: 25px;
  }

  .main__find {
    margin-bottom: 25px;
  }

  .find-main__title {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .find-main__items {
    display: block;
    margin: 0;
  }

  .find-main__columns {
    margin-bottom: 40px;
  }

  .ready-main__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .ready-main__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .ready-main__content {
    max-width: 100%;
    margin-top: 46px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .ready-main__title {
    font-size: 35px;
  }

  .ready-main__button {
    width: 100%;
  }
}

@media (max-width: 620px) {
  .users-main__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 35px;
  }
}

@media (max-width: 453px) {
  .select-main-intro__title {
    font-size: 26px;
  }
}

@media (max-width: 360px) {
  .intro-main__body {
    margin-bottom: 20px;
  }
}

.ready-main__column_back{ background: url(../img/grid.webp) center 100px no-repeat; }
